<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Static/style.css">
   <script type="text/javascript" src="../Static/bootstrap.min.js"></script>
   <script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <style>
     body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.err{
    color: red;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
    </style>
  

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</head>
<form action="docker/config" method="POST" style="border:1px solid #ccc" id="gror_form">
  <div class="container">
    <h1>Docker</h1>
    <h3>SystemInfo</h3>
    <hr>
    <div id="SystemInfo_div" >
    <label><b>grorVersion</b></label>
    <input type="text" value="{{ .SystemInfo.GrorVersion }}" name="grorVersion" id="gversion" >

    <label><b>Name</b></label>
    <input type="text" value="{{ .SystemInfo.Name }}" name="name" id="gverName">
  </div>
  <div id="authdata_container" class="auth_div">
        {{ range $key, $AuthData := .AuthDatas }}

<div id="divauth_1">
    <h3>AuthData {{$key}}</h3>
    
    
    <label><b>Password</b></label>
    <input type="password" value="{{ $AuthData.Password }}" name="password"  class="pswtb">
   
    <label><b>Key</b></label>
    <input type="text" value="{{ $AuthData.Key }}" name="key"class="keytb" >

    <label><b>Username</b></label>
    <input type="text" value="{{ $AuthData.Username }}" name="username" class="unametb" >

    <label><b>Auth</b></label>
    <input type="text"  value="{{ $AuthData.Auth }}" name="auth" class="authtb" >

    <label><b>Email</b></label>
    <input type="text" value="{{ $AuthData.Email }}" name="email"  class="emailtb">

</div>
{{ end }}
</div>
<div id="hostdata_container">
        {{ range $key, $HostData := .Hosts }}

    <div id="divhost_1">

    <h3>Hosts {{$key}}</h3>
    <label><b>Protocol</b></label>
    <input type="text" value="{{ $HostData.Protocol }}" name="protocol" class="protb" >

    <br><br>
    <label><b>Api Version</b></label>
    <input type="text" value="{{ $HostData.ApiVersion }}" name="apiVersion" class="Apivertb" >

    <label><b>Host Type</b></label>
    <input type="text" value="{{ $HostData.HostType }}" name="hostType" class="hostypetb">

    <label><b>Docker Version</b></label>
    <input type="text" value="{{ $HostData.DockerVersion }}" name="dockerVersion" class="dockvertb">

    <label><b>Alias</b></label>
    <input type="text" value="{{ $HostData.Alias }}" name="alias" class="aliastb">

    <label><b>Cert Path For Docker Daemon</b></label>
    <input type="text" value="{{ $HostData.CertPathForDockerDaemon }}" name="certPathForDockerDaemon" class="cpathtb">
    
    <label><b>Ip</b></label>
    <input type="text" value="{{ $HostData.IP }}" name="ip" class="Iptb" >

    <label><b>Docker Port</b></label>
    <input type="text" value="{{ $HostData.DockerPort }}" name="dockerPort" class="DocPorttb" >

    </div>
    {{ end }}

    </div>
    <div id="component_container">
            {{ range $key, $CompData := .Components }}
      <div id="component_div_{{$key}}" class="component_div">
        <h3>Component {{$key}}</h3>
    <label for="componentName"><b>Component name</b></label>
    <input type="text" value="{{ $CompData.Name }}" class="componentName">
        <h4>instance {{$key}}</h4>
        <div id="instance_div_component_{{$key}}">
            {{ range $key, $InstanceData := $CompData.Instances }}
          <div id="component_1_instance_1" class="instance container">
        
            <label for="envMap:CASSANDRA_BROADCAST_ADDRESS"><b>envMap:CASSANDRA_BROADCAST_ADDRESS</b></label>
            <input type="text" value="{{ $InstanceData.EnvMap.CASSANDRA_BROADCAST_ADDRESS }}" class="CASSANDRA_BROADCAST_ADDRESS">
            
            <label for="envMap:CASSANDRA_SEEDS"><b>envMap:CASSANDRA_SEEDS</b></label>
            <input type="text" value="{{ $InstanceData.EnvMap.CASSANDRA_SEEDS }}" class="CASSANDRA_SEEDS">

            <label for="portMapping"><b>portMapping</b></label>
            <input type="text" value="{{ $InstanceData.PortMapping }}" class="portmapping">

            <label for="authId"><b>authId</b></label>
            <input type="text" value="{{ $InstanceData.AuthId }}" class="authid">

            <label for="hostId"><b>hostId</b></label>
            <input type="text" value="{{ $InstanceData.HostId }}" class="hostid">

            <label for="volumeMapping:/home/ubuntu/cass-data"><b>volumeMapping:/home/ubuntu/cass-data</b></label>
            <input type="text" value="{{ $InstanceData.VolumeMapping.CassData }}" class="/home/ubuntu/cass-data">

            <label for="volumeMapping:/home/ubuntu/cass-config"><b>volumeMapping:/home/ubuntu/cass-config</b></label>
            <input type="text" value="{{ $InstanceData.VolumeMapping.CassConfig }}" class="/home/ubuntu/cass-config">

            <label for="volumesFrom"><b>volumesFrom</b></label>
            <input type="text"  value="{{ $InstanceData.VolumesFrom }}" class="volumesfrom">

            <label for="commandToBeExecuted"><b>commandToBeExecuted</b></label>
            <input type="text" value="{{ $InstanceData.CommandToBeExecuted }}" class="commandtobeexecuted">

            <label for="links"><b>links</b></label>
            <input type="text" value="{{ $InstanceData.Links }}" class="links">

            <label for="imageName"><b>imageName</b></label>
            <input type="text" value="{{ $InstanceData.ImageName }}" class="imagename">

            <label for="tag"><b>tag</b></label>
            <input type="text" value="{{ $InstanceData.Tag }}" class="tag">

            <label for="hostsMapping"><b>hostsMapping</b></label>
            <input type="text" value="{{ $InstanceData.HostsMapping }}" class="hostsmapping">

            <label for="instanceName"><b>name</b></label>
            <input type="text"value="{{ $InstanceData.Name }}" class="name">
            </div>
            {{ end }}
    </div>
    </div>
    {{ end }}
    </div>
    <div class="clearfix">
      <button type="submit" class="signupbtn">Update</button>
       <button type="button" class="cancelbtn">Cancel</button>
    </div>
    <div id = "result"></div>
  </div>
 
</form>
<script type="text/javascript">
    $(document).ready(function(){
      $('#gror_form').on('submit', function(e) {
           e.preventDefault();
          
           var jsonObject = {}
           var components = [];
           var authData=[];
           var hosts=[];
           var systemInfo = {}
          
          systemInfo.grorVersion=$("#gversion").val();
          systemInfo.name=$("#gverName").val();
  
          jsonObject.systemInfo =systemInfo ;
  
          var authChildren = $('#authdata_container').children()
  
          $.each(authChildren, function( index, value ) {
              var auth = {}
              auth.password=$($(value).find('.pswtb')[0]).val();
              auth.key=$($(value).find('.keytb')[0]).val();
              auth.username=$($(value).find('.unametb')[0]).val();
              auth.auth=$($(value).find('.authtb')[0]).val();
              auth.email=$($(value).find('.emailtb')[0]).val();
              authData.push(auth)
  
          })
          jsonObject.authData = authData;
  
          var hostChildren = $('#hostdata_container').children()
  
          $.each(hostChildren, function( index, value ) {
              var host={}
              host.protocol=$($(value).find('.protb')[0]).val();
              host.apiVersion=$($(value).find('.Apivertb')[0]).val();
              host.hostType=$($(value).find('.hostypetb')[0]).val();
              host.dockerVersion=$($(value).find('.dockvertb')[0]).val();
              host.alias=$($(value).find('.aliastb')[0]).val();
              host.certPathForDockerDaemon=$($(value).find('.cpathtb')[0]).val();
              host.ip=$($(value).find('.Iptb')[0]).val();
              host.dockerPort=$($(value).find('.DocPorttb')[0]).val();
              hosts.push(host)
          })
          jsonObject.hosts = hosts;
  
          var componentChildren = $('#component_container').children()
          
             $.each(componentChildren, function( index, value ) {
   
                  var componentNo = index;
                  var cmp_name_input = $(value).find('.componentName')
                  var cname = $(cmp_name_input[0]).val();
            
              
                  var component = {}
                  component.name = cname;
   
                  var instances = [];
   
                  var instanceChildren = $('#instance_div_component_'+componentNo).children()
              
                  $.each(instanceChildren, function(index,value){
                  var instanceNo = index ;
                  var inst_portmapping = $(value).find('.portmapping')
                  var inst_authid = $(value).find('.authid')
                  var inst_hostid = $(value).find('.hostid')
                  var inst_volfrom = $(value).find('.volumesfrom')
                  var inst_cexe = $(value).find('.commandtobeexecuted')
                  var inst_links = $(value).find('.links')
                  var inst_imgname = $(value).find('.imagename')
                  var inst_tag = $(value).find('.tag')
                  var inst_hostsmapping = $(value).find('.hostsmapping')
                  var inst_name = $(value).find('.name')
   
   
                  
                  
                  var iportmapping = $(inst_portmapping[0]).val();
                  var iauthid = $(inst_authid[0]).val();
                  var ihostid = $(inst_hostid[0]).val();
                  var ivolfrom = $(inst_volfrom[0]).val(); 
                  var icexe = $(inst_cexe[0]).val();
                  var ilinks = $(inst_links[0]).val();
                  var i_imgname = $(inst_imgname[0]).val();
                  var itag = $(inst_tag[0]).val();
                  var ihostsmapping = $(inst_hostsmapping[0]).val();
                  var iname = $(inst_name[0]).val();
   
              var instance = {}
              var envMap= {} 
              var volumeMapping= {} 
              envMap.CASSANDRA_BROADCAST_ADDRESS=  $($(value).find('.CASSANDRA_BROADCAST_ADDRESS')[0]).val(); 
              envMap.CASSANDRA_SEEDS=$($(value).find('.CASSANDRA_SEEDS')[0]).val(); 
             instance.envMap = envMap;
             instance.portMapping = iportmapping;
             instance.authId = iauthid;
             instance.hostId = ihostid;
             volumeMapping["/home/ubuntu/cass-data"] = $($(value).find('.CASSANDRA_BROADCAST_ADDRESS')[0]).val(); 
             volumeMapping["/home/ubuntu/cass-config"] = $($(value).find('.CASSANDRA_BROADCAST_ADDRESS')[0]).val(); 
             instance.volumeMapping = volumeMapping;
             instance.volumesFrom = ivolfrom;
             instance.commandToBeExecuted = icexe;
             instance.links = ilinks;
             instance.imageName = i_imgname;
             instance.tag = itag;
             instance.hostsMapping = ihostsmapping;
             instance.name = iname;
   
              instances.push(instance)
          })    
   
          component.instances = instances
          components.push(component)
      })
      jsonObject.components = components;
      $("#result").text("Successfully updated");
      jQuery.ajax({
          url: '',
          type: "PUT",
          data:JSON.stringify(jsonObject),
          dataType: "json",
          success: function(data) {
          console.log(data)
          }
  });
  })
  })
    </script>
